<% if glanced_proposals.present? %>
  <section class="wrapper-home home-section" xmlns="http://www.w3.org/1999/xhtml">
    <div class="row collapse">
      <h3 class="section-heading"><%= t("decidim.homepage_proposals.proposal_at_a_glance.title") %></h3>
      <div class="glide margin-top-3">
        <div class="glide__track row small-12 column" data-glide-el="track">
          <ul class="glide__slides">
            <% glanced_proposals.each do |proposal| %>
              <li class="glide__slide">
                <%= render partial: "decidim/homepage_proposals/proposal_at_a_glance.html", locals: { proposal: proposal } %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
          <div class="glide__bullet" data-glide-dir="<">
            <%= icon "chevron-left", class: "icon--large" %>
          </div>
          <% glanced_proposals.count.times do |n| %>
            <div class="glide__bullet" data-glide-dir="=<%= n %>"> <%= icon "circle-x" %> </div>
          <% end %>
          <div class="glide__bullet" data-glide-dir=">">
            <%= icon "chevron-right", class: "icon--large" %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= javascript_pack_tag 'decidim_homepage_proposals' %>
<% end %>
