<% unless content_block_settings.default_linked_component == 0 %>
  <section id="proposals-slider" class="wrapper-home home-section" xmlns="http://www.w3.org/1999/xhtml">
    <div class="row collapse">
      <h3 class="section-heading"><%= t("decidim.homepage_proposals.proposal_at_a_glance.title") %></h3>
      <div class="columns collapse">
         <div class="column">
            <%= render partial: 'decidim/shared/homepage_proposals/filters' %>
         </div>
        <div class="column">
        <p class="loading"><%= t(".loading") %></p>
          <div id="proposals-at-a-glance" class="row small-up-1 medium-up-2 large-up-3 card-grid carousel margin-top-3">
            <% if glanced_proposals.present? %>
              <%= render partial: "decidim/shared/homepage_proposals/slider_proposals", locals: { glanced_proposals: glanced_proposals } %>
            <% else %>
              <% render '_no_proposals' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <%= javascript_pack_tag 'decidim_homepage_proposals' %>
  <%= stylesheet_pack_tag 'decidim_homepage_proposals'%>
<% end %>


