<head>
  <!-- Include Slick Carousel CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

  <!-- Include Slick Carousel Advanced CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

  <!-- Include Slick Carousel JS -->
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<section class="wrapper-home home-section" xmlns="http://www.w3.org/1999/xhtml">
  <div class="row collapse">
    <h3 class="section-heading"><%= t("decidim.homepage_proposals.proposal_at_a_glance.title") %></h3>
    <div class="row small-up-1 medium-up-2 large-up-3 card-grid carousel margin-top-3">
      <% proposals.each do |proposal| %>
        <div class="column">
          <div class="card card--proposal card--stack">
            <%= link_to proposal_path(proposal) do %>
              <div class="card--header">
                <img src="<%= image_pack_url("media/images/slider_proposal_image.jpeg") %>" alt="slider_img">
              </div>
            <% end %>
            <div class="card--content text-center margin-top-1">
              <%= link_to proposal_path(proposal) do %>
                <h3 class="card__title"><%= proposal_title(proposal)  %></h3>
              <% end %>
              <div class="card__text--paragraph padding-top-1">
                <p><%= proposal_description(proposal) %></p>
              </div>
              <%= link_to proposal_path(proposal) do %>
                <div class="card__button align-bottom">
                  <span class="button button--secondary"><%= t("decidim.homepage_proposals.proposal_at_a_glance.learn_more") %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= javascript_pack_tag 'decidim_homepage_proposals' %>
<%= stylesheet_pack_tag 'decidim_homepage_proposals'%>

