<head>
  <!-- Include Slick Carousel CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

  <!-- Include Slick Carousel Advanced CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

  <!-- Include Slick Carousel JS -->
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<div class="row" id="proposals-at-a-glance">
  <h2>Proposals at a Glance</h2>
  <div class="row collapse">
    <div class="row small-up-1 smallmedium-up-2 mediumlarge-up-3 large-up-4 card-grid carousel">
      <% proposals.each do |proposal| %>
        <%# Clicking on the proposal redirects to it %>
        <%= link_to proposal_path(proposal) do %>
            <div class="column">
              <div class="card card--process card--stack">
                <div class="card-section">
                  <h3><%= proposal_title(proposal) %></h3>
                  <p><%= proposal_description(proposal) %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'decidim_homepage_proposals' %>
<%= stylesheet_pack_tag 'decidim_homepage_proposals'%>

